.main_title {
  margin-top: 45px;
}
.tasks {
  margin-top: 25px;
}
.info {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}
.info p {
  font-size: 58px;
  font-weight: 300;
}
tr td:first-child {
  text-align: left;
}
tr td {
  text-align: center;
}
footer a {
  color: #426E9E;
  font-size: 18px;
}
.fraction {
  width: 60px;
  float: left;
  margin-left: 5%;
}
.fraction p {
  font-size: 24px;
  line-height: 0;
}
.fraction p:first-child {
  color: #308dcc;
}
.out {
  color: #308dcc;
}
.fraction p:last-child {
  color: #29b765;
}
.checked {
  color: #29b765;
}
.activity {
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer {
  margin-bottom: 20px;
}