.main_title {
  margin-top: 45px;
}
.tasks {
  margin-top: 25px;
}
.info {
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
}
.header {
  font-size: 18px;
  padding: 5px;
  background-color: rgba(255,255,255,0.5);
}
.header + p {
  font-size: 48px;
  color: #4caf50;
  font-weight: 300;
}
.blue {
  background-color: rgba(76, 175, 80, 0.1);
}
.aqua {
  background-color: rgba(0, 150, 136, 0.1);
}
tr td:first-child {
  text-align: left;
}
tr td {
  text-align: center;
}
footer a {
  color: #426E9E;
  font-size: 18px;
}
.fraction {
  width: 60px;
  float: left;
  margin-left: 5%;
}
.fraction p {
  font-size: 24px;
  line-height: 0;
}
.fraction p:first-child {
  color: #f06292;
}
.fraction p:last-child {
  color: #426E9E;
}
.activity {
  margin-bottom: 30px;
}
.activity h3 {
  margin-bottom: 20px;
}